.facts-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
